__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.github
.gitignore
.dockerignore
node_modules/
.next/
.vercel/
temp_*
Final_*
Subtitled_*
service_account.json
